* {
    column-gap: 20px;
    row-gap: 20px;
}

body {
    font-family: Gilroy-Medium, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

nav ul {
    background-color: gainsboro;
    /* Background color of the navigation bar */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    padding-left: 0px;
}

nav ul li {
    list-style: none;
}

.small-add {
    height: 250px;
    width: 100%;
    background-color: rgba(247, 240, 240, 0.739);
    margin-bottom: 10px;
}

.small-add p {
    text-align: center;
    color: #212529;
}

.small-add img {
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 100%;
    padding-left: 10px;
}

.big-add {
    width: 100%;
    height: auto;
    background-color: rgba(247, 240, 240, 0.739);
    border: 1px #b4b1b1;
    border-style: solid;
    margin-bottom: 20px;
}

.big-add img {
    /* object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
    padding-left: 10px; */
    padding-bottom: 10px;
    padding-inline: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.big-add p {
    justify-content: center;
    text-align: center;
    color: #212529;
}

.full-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.all-pading {
    padding-inline: 20px;
}

.dashed {
    border-bottom: dashed 1px #000000;
}

.side-img-text {
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 3fr;
    column-gap: 5px;
    row-gap: 5px;
}

.small-img {
    width: 180px;
    height: auto;
}

.black-box {
    margin-block: 10px;
    height: auto;
    width: 100%;
    background-color: #000000;
}

.inside-black-box {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    height: auto;
    width: 50%;
    box-shadow: 10px 10px yellow;
}

.black-box-round-image {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-block: 10px;
    object-fit: cover;
    object-position: center;
}

.section-bar {
    background: black;
    margin: 30px 0;
    padding-bottom: 3px;
    width: 100%;
    position: relative;
    top: 12px;
}

.font .section-label-v2 {
    margin: 0;
    font-weight: 700;
    color: black;
    padding: 10px 10px 10px 15px;
    position: relative;
    top: -36px;
}

/* .section-label-v2 {
    font-size: 22px;
} */

.btnexplore {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnexplore span {
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    z-index: 2;
}

.btnexplore::after {
    content: "\27A4";
    border-top: 1px dashed #ccc;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.btnexplores {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    top: 20px;
}

.btnexplores span {
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    z-index: 2;

}

.btnexplores::after {
    content: "\27A4";
    border-top: solid black;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}

fieldset {
    border: 3px solid black;
    margin-bottom: 20px;
}

legend {
    color: black;
    padding: 5px 10px;
    text-align: center;
    width: 150px;
}

.celebs {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    /* gap: 10px; */
}

.tv-main {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
}

.tv-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.visual-story {
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
    padding-block: 10px;
}

/* .h6,
h6 {
    text-align: center;
} */

.add-list-img {
    height: auto;
    width: 100%;
}

.mini-text {
    font-size: xx-small;
    color: gray;
    font-weight: bold;
}

.mini-text-2 {
    font-size: xx-small;
    color: gray;
}

.footer {
    background-color: #212529;
    color: white;
    height: auto;
    width: 100%;
}

#mail {
    position: relative;
    height: 30px;
    border-radius: 5px;
    /* width: 337px; */
    padding-left: 10px;
    color: lightgray;
    background-color: #000000;
    border-style: none;
    /* border: 1px red; */
}

.form button {
    position: absolute;
    /* right: 0px; */
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    background-color: lightskyblue;
    color: white;
    /* left: 10px;  */
}

.privacy-statement {
    color: lightblue;
}

.store-play button {
    background-color: #000000;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.social-icon {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin-right: 30px;
    justify-content: center;
}

.footer-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-row-count: 2;
    -moz-row-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    min-height: 0;
}

.footer-column-1 .footer-container-heading {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.93;
    letter-spacing: 1.4px;
    margin: 0 0 12px;
}

.footer-ul li {
    text-decoration: none;
    list-style-type: none;
    color: gray;
}

.exclusives-main {
    margin-block: 20px;
    /* display: flex; */
    text-align: center;
    align-items: center;
    border-style: dotted;
    height: 310px;
    width: auto;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: 10px 10px yellow;
}

.exclusives-main img {
    width: 100%;
    height: 200px;
}

.sub-time {
    font-size: smaller;
    color: lightgray;
}

.exclusives-sub {
    margin-block: 20px;
    border-style: dotted;
    height: auto;
    width: auto;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: 10px 10px yellow;
}


.pentagon {
    position: absolute;
    right: -6%;
    top: 7%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    /* border-top: 180px solid red; */
    background: red;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.pentagon-mini {
    position: absolute;
    right: -6%;
    top: 10%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 30px;
    /* border-top: 180px solid red; */
    background: red;
    color: white;
    text-align: center;
    font-size: medium;
    /* font-weight: bold; */
    width: 40px;
    background: red;
}

.all-drop-footer {
    margin-top: 20px;
}

.footer-last {
    height: 40px;
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-visual-story {
    display: grid;
    grid-template-columns: auto auto;

}

.explore-categories {
    text-align: center;
    display: grid;
    justify-content: space-around;
    gap: 10px;
    grid-template-columns: auto auto auto;
}

.black-box-add {
    height: 200px;
    width: auto;
    background-color: rgba(247, 240, 240, 0.739);
    border: 1px #b4b1b1;
    border-style: solid;
    margin-bottom: 20px;
}

.black-box-add img {
    padding-bottom: 10px;
    padding-inline: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (min-width: 1024) {
    .main-visual-story {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
}

@media (min-width: 520px) {

    hr {
        visibility: hidden;
    }

    .all-body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .all-drop-footer,
    .footer-last,
    .arrow .down,
    .inner-visual-story hr {
        visibility: hidden;
    }

    .big-add img {
        object-fit: cover;
        object-position: center;
        height: 300px;
        width: 100%;
        padding-left: 80px;
        padding-right: 90px;
    }

    .main-visual-story {
        display: flex;
        overflow: auto;
        gap: 10px;
    }

    .explore-categories {
        text-align: center;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        overflow: auto;
    }

    .add-main {
        margin-top: 20px;
        text-align: center;
        display: grid;
        /* justify-content: space-around; */
        gap: 10px;
        overflow: auto;
        grid-template-columns: auto auto auto auto auto auto;
    }

    legend {
        color: black;
        padding: 5px 10px;
        text-align: left;
        width: 150px;
        margin-left: 20px;
    }

    .celebs {
        display: flex;
        justify-content: space-around;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .entertainment{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
    }

    .entertainment-main{
        grid-column: 1 / span 3;
        overflow: auto;
    }

    .tv-main {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
    }

    .tv-item1 {
        grid-column: 1 / span 3;
        overflow: auto;
    }

    .side-img-text {
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto auto auto auto;
        column-gap: 5px;
        row-gap: 10px;
    }

    .main-black-box {
        display: flex;
        height: 200px;
    }

    .exclusives {
        display: flex;
    }

    .pentagon {
        position: absolute;
        right: -4%;
        top: 7%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        /* border-top: 180px solid red; */
        background: red;
        color: white;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

    .pentagon-mini {
        position: absolute;
        right: -3%;
        top: 10%;
        transform: translate(-50%, -50%);
        height: 25px;
        width: 30px;
        /* border-top: 180px solid red; */
        background: red;
        color: white;
        text-align: center;
        font-size: medium;
        /* font-weight: bold; */
        width: 40px;
        background: red;
    }
}